/* *
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body
{
    background: rgba(0,0,0,0.5) url(assets/images/HashDefine_Background.jpg);
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
}
.navbar{
    display: flex;
    align-items: center;
    height: 12%;
}
.logo{
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s;
}
.user{
    width: 22px;
    cursor: pointer;
    margin-left: 50px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.logo:hover{
    transform: rotateY(360deg);
}
nav ul li a:hover{
    color:red;
}
.container{
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
}
.textarea,
.start{
   display: none;
}
.baba_folder{
    height: 500px;
}
.custom-file-upload{
    padding: 8px 14px;
    display: inline-block;
    border: none;
    cursor: pointer;
    border: 1px solid white;
    background: red;
    color: white;
}
input[type=file]
{
    display: none;
}
   .container2{
    margin-top: 50px;
   }
   .upper div{
    display: inline;
    margin-left: 100px;
    white-space: pre;
   }
   .bottom{
    margin-top: 30px;
    display: flex;
   }
   .bottom div{
    flex: 1;
    border: 1px solid rgb(118, 118, 118);
    height: 400px;
    max-width: 800px;
    margin: 10px;
   }
   #images{
    max-height: 400px;
    max-width: 800px;
    margin: auto;
   }
   .bottom div img{
    max-width: calc(50%-20px);
    max-height: calc(50%-20px);
    margin: 10px;
   }
   .bottom div textarea{
    resize: none;
    width: calc(100%);
    height: calc(100% );
    padding:10px;
    font-size: 20px;
    outline: none;
    border: none;
   }
   .bottom div:first-child{
    margin-left: 0px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
   }
   .bottom div:last-child{
    margin-right: 0px;
   } */
.divider {
    display: inline-block;
    width: 45%;
    height: 100%;
    margin-top: 5%;
}
.bottom {
    float: left;
    margin-left: 5%;
}

.containerN2 {
    float: left;
    margin-top: 5%;
    margin-left: 5%;
}

.certificate {
    width: 100px;
    height: auto;
}

#yourBtn {
    /* position: relative;
    top: 150px; */
    font-family: calibri;
    width: 150px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px dashed #BBB;
    text-align: center;
    background-color: #DDD;
    cursor: pointer;
}
#ethVal {
    position: relative;
    /* top: 150px; */
    float:left;
    /* height: 40px; */
    /* width: 80px; */
    font-size: 1.2rem;
    /* display: none; */
}
#finalForm {
    float: right;
    width: 50%;
    margin-right: 5%;
}
#finalForm label {
    /* display: block; */
    margin-right: 5%;
    display: inline-block;
    font-size: 1rem;
    color: white;
}
#finalForm input {
    display: block;
    margin-top: 0;
    margin-bottom: 3%;
    height: 80%;
    font-size: 1rem;
    background-color:#dacfc2;
    color: black;
    font-weight: bold;
}
.left {
    float: left;
}
.right {
    float: right;
    margin-top:80%;
}
button {
    padding: 2%;
    float:right;
}
/* CSS */
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}